.title {
  font-size: 26px;
  font-weight: 500;
  font-family: Outfit, var(--mantine-font-family);
}

.controls {
  @media (max-width: var(--mantine-breakpoint-xs)) {
    flex-direction: column-reverse;
  }
}

.control {
  @media (max-width: var(--mantine-breakpoint-xs)) {
    width: 100%;
    text-align: center;
  }
}

.emailSuffix {
  line-height: 1;
}